#For complete documentation on what is available for configuration see the 
#quickfix website here: 
#http://www.quickfixengine.org/quickfix/doc/html/configuration.html
[DEFAULT]
ConnectionType=initiator
ReconnectInterval=60
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
DataDictionary=./spec/FAST-FIX42.xml
SocketNoDelay=Y

[SESSION]
# inherit ConnectionType, ReconnectInterval and SenderCompID from default
BeginString=FIX.4.2
SenderCompID=MDCapitalK1
TargetCompID=Fastmatch1
SocketConnectHost=169.33.100.17
SocketConnectPort=50918
HeartBtInt=30

# non-standard fields
AggregatedBook=N
ResetSeqNo=Y
SendIndividualMarketDataRequests=Y
MIC=FAST.dev
MarketDepth=0
MDUpdateType=1
should_publish_prices=Y
FIXVersion=42
