#For complete documentation on what is available for configuration see the 
#quickfix website here: 
#http://www.quickfixengine.org/quickfix/doc/html/configuration.html
[DEFAULT]
ConnectionType=initiator
ReconnectInterval=60
FileStorePath=store
FileLogPath=log
StartTime=00:00:01
EndTime=00:00:00
UseDataDictionary=Y
DataDictionary=./spec/FIX50SP2.xml
SocketNoDelay=Y

# FIXT/50 specific
DefaultApplVerID=7
TransportDataDictionary=./spec/FIXT11.xml
AppDataDictionary=./spec/FIX50SP2.xml

[SESSION]
# inherit ConnectionType, ReconnectInterval and SenderCompID from default
BeginString=FIXT.1.1
SenderCompID=TK0
TargetCompID=XCDEtest
SocketConnectHost=82.136.33.226
SocketConnectPort=3968
HeartBtInt=30
Password=5x

# non-standard
SendPasswordInRawData=Y 
MIC=XCDE.dev
should_publish_prices=Y
MDUpdateType=1
FIXVersion=50
SendIndividualMarketDataRequests=Y
ResetSeqNo=Y
