#For complete documentation on what is available for configuration see the 
#quickfix website here: 
#http://www.quickfixengine.org/quickfix/doc/html/configuration.html
[DEFAULT]
ConnectionType=initiator
ReconnectInterval=60
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
DataDictionary=./spec/FIX44.xml
SocketNoDelay=Y

[SESSION]
# inherit ConnectionType, ReconnectInterval and SenderCompID from default
BeginString=FIX.4.4
SenderCompID=FixCapitalKdemo
TargetCompID=ADSSUAT
SocketConnectHost=94.56.137.210
SocketConnectPort=22301
HeartBtInt=30
Password=XR.GT8TQXxOKb2L/RICny.
ResetSeqNo=Y
ValidateUserDefinedFields=N

# non-standard fields
SendIndividualMarketDataRequests=Y
MarketDepth=100
CheckCompID=N
FIXVersion=44
AggregatedBook=Y
MIC=ADSS.dev
should_publish_prices=Y
MDUpdateType=0
