#For complete documentation on what is available for configuration see the 
#quickfix website here: 
#http://www.quickfixengine.org/quickfix/doc/html/configuration.html
[DEFAULT]
ConnectionType=initiator
ReconnectInterval=60
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
DataDictionary=./spec/FXCM-FIX42.xml
SocketNoDelay=Y

[SESSION]
# inherit ConnectionType, ReconnectInterval and SenderCompID from default
BeginString=FIX.4.2
SenderCompID=pro5792test
TargetCompID=CNX
SocketConnectHost=integration2-fix.currenex.com
SocketConnectPort=442
HeartBtInt=30

# non-standard fields
Password=fxcm1234
AggregatedBook=N
ResetSeqNo=Y
SendIndividualMarketDataRequests=Y
MIC=FXCM.dev
MarketDepth=0
MDUpdateType=1
should_publish_prices=Y
new_replaces=Y
FIXVersion=42
